services:
  db:
    image: mariadb:10.11
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: dolibarr
      MYSQL_USER: doli
      MYSQL_PASSWORD: doli
    volumes:
      - db_data:/var/lib/mysql

  dolibarr:
    image: tuxgasy/dolibarr:22
    depends_on: [db]
    ports: ["8080:80"]
    environment:
      DOLI_DB_HOST: db
      DOLI_DB_NAME: dolibarr
      DOLI_DB_USER: doli
      DOLI_DB_PASSWORD: doli
      DOLI_INSTALL_AUTO: "1"
      DOLI_URL_ROOT: "http://host.docker.internal:8080"
      DOLI_ADMIN_LOGIN: "admin"
      DOLI_ADMIN_PASSWORD: "admin"
    volumes:
      - ./dolibarr-custom:/var/www/html/custom
      - shared_allure_report:/var/www/html/custom/qa/reports

  functional-tests:
    build:
      context: ./qa/functional
    depends_on: [dolibarr]
    working_dir: /workspace/selenium
    environment:
      BASE_URL: "http://dolibarr"
      DOLI_USER: "admin"
      DOLI_PASS: "admin"
      SELENIUM_HEADLESS: "true"
    volumes:
      - ./qa/functional/selenium:/workspace/selenium
      - allure_results:/workspace/selenium/reports/allure-results
      - shared_allure_report:/workspace/selenium/reports/allure-report
    command: ["tail", "-f", "/dev/null"]

  phpunit:
    image: composer:2
    working_dir: /workspace/unit
    volumes:
      - ./qa/unit:/workspace/unit
    command: ["tail", "-f", "/dev/null"]

  allure:
    image: frankescobar/allure-docker-service
    ports: ["5050:5050"]
    environment:
      CHECK_RESULTS_EVERY_SECONDS: 2
    volumes:
      - allure_results:/app/allure-results
      - shared_allure_report:/app/default-reports

volumes:
  db_data:
  shared_allure_report:
  allure_results:
